@import url("https://fonts.cdnfonts.com/css/latin-modern-math");
@import url("https://cdn.jsdelivr.net/npm/diagramatics@1.5/css/diagramatics.css");

.diagram {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  touch-action: none;
  user-select: none;
}
